/* Custom Stylesheet */
/**
* Use this file to override Materialize files so you can update
* the core Materialize files in the future
*
* Made By MaterializeCSS.com
*/

/* General */

h4{
	font-size: 28px;
}

.row{ /* No space between rows and their content */
	margin: 0;
}

.label{
	font-size: 14px; // Setting bootstrap label to suit fontsize of the page
}

/* Header */

	/* Nav */

ul li a:hover{
	text-decoration: none !important;
	color: white;
}

div.card{
	margin: 0;
	height: 460px;
}


/* Content separator banner with title */

div.container h4{
	margin: 10px 0 10px 0;
}

/* Collapsible */

.collapsible-header h4{
	margin: 0;
	text-align: center;
	padding: 5px;
}

/* Information Station Card */

	/* Table Information Station */

.info-station{
	padding: 5px;
}

.info-station-titles{
	width: 40%;
}

	/* Action button */

div.card-image{
	position: relative;
}

div#info-station-action-btn{
	position: absolute;
	bottom: -28px;
}


/* Information Reservation Card */

	/* Table Reservation Station */

.info-reservation-titles{
width: 30%;
}
/*
.info-reservation{
	text-transform: lowercase;
}*/

/* Google Map */

#google-map{
	height: 460px;
	margin: 0;
	padding: 0;
}

/* Signature Pad */

#signature-canvas-container{
	position: relative;
	margin-top: 15px;
}

#signature-canvas{
border: 1px solid black;
}

div#signature-action-btn{
	position: absolute;
	bottom: 0px;
	right: -15px;
}

/* Footer */

footer.page-footer{
padding-bottom: 40px;
}

	/* Cancel Button */

div.contol-container{
margin: 5px;
}










