/* Custom Stylesheet */
/**
* Use this file to override Materialize files so you can update
* the core Materialize files in the future
*
* Made By MaterializeCSS.com
*/

/* General */

h4{
	font-size: 28px;
}

.row{ 
	margin: 0;
}
/* No space between rows and their content */
.label{
	font-size: 14px; // Setting bootstrap label to suit fontsize of the page
}

.row .col{
	padding-left: 5px !important;
	padding-right: 5px !important;
}

/* Header */

	/* Nav */

ul li a:hover{
	text-decoration: none !important;
	color: white;
}

.side-nav a:hover {
	color: rgba(0, 0, 0, 0.87) !important;
}

/* Content separator banner with title */

div.container h4{
	margin: 10px 0 10px 0;
}

/* Collapsible */

.collapsible-header h4{
	margin: 0;
	text-align: center;
	padding: 5px;
}

/* Information Station Card */

div.card{
	margin: 0;
	height: 460px;
}

	/* Table Information Station */

.info-station{
	padding: 5px;
}

.info-station-titles{
	width: 40%;
}

	/* Action button */

div.card-image{
	position: relative;
}

div#info-station-action-btn{
	position: absolute;
	bottom: -28px;
}

div.card-reveal{
	padding-top: 10px !important;
	padding-bottom: 10px !important; 
}

/* Information Reservation Card */



	/* Table Reservation Station */

.info-reservation-titles{
width: 30%;
}


/* Google Map */

#google-map{
	height: 460px;
	margin: 0;
	padding: 0;
}

/* Signature Pad */

#signature-canvas-container{
	position: relative;
	margin-top: 15px;
	width: 100%;
}

#signature-canvas{
	border: 1px solid black;
	max-width: 340px;
}

@media all and (max-width: 1180px) {
	#signature-canvas{
		max-width: 250px;
	}
}

div#signature-action-btn{
	position: absolute;
	bottom: 0px;
	right: -15px;
}

/* Footer */

footer.page-footer{
padding-bottom: 40px;
}

	/* Cancel Button */

div.contol-container{
margin: 5px;
}

/* Media Queries */

@media all and (max-width: 992px) {
	div#map-container{
		margin-top: 10px;
		margin-bottom: 10px;
	}

	div#station-card-container{
		margin-top: 10px;
	}

	div#slider-super-container{
		margin-top: 10px;
		margin-bottom: 10px;
	}
}









