/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#intro-banner{
	margin: 0 !important;
	padding: 20px;
}

#intro-banner h4{
	margin: 0;
}

.collapsible-header h4{
	margin: 0;
	text-align: center;
	padding: 5px;
}

.info-station{
	padding: 5px;
}

#google-map{
	height: 400px;
	margin: 0;
	padding: 0;
}

.display-error{
	display: none;
}

.info-station-titles{
	width: 40%;
}
.info-reservation-titles{
	width: 30%;
}

.label{
	font-size: 14px;
}

div.contol-container{
	margin: 5px;
}

#signature-canvas{
	border: 1px solid black;
}

/* Information Station Card */

/* Configuration du bouton d'action */

div.card-image{
	position: relative;
}

div#info-station-action-btn{
	position: absolute;
	bottom: -28px;
}

#signature-canvas-container{
	position: relative;
	margin-top: 15px;
}

div#signature-action-btn{
	position: absolute;
	bottom: 0px;
	right: -15px;
}

.info-reservation{
	text-transform: lowercase;
}

